#navigation-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 8em;
}

.navlist {
  list-style: none;
  display: flex;
  place-content: space-evenly;
}

.nav-item {
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  color: #60dc69;
  border-bottom: 3px solid #60dc69;
}

.nav-item {
  padding: 5px 15px;
}
