.grid-container-history {
  display: grid;
  grid-template-columns: 9.7em 20em 10.8em 5.5em 5.2em 8em 7.1em;
  justify-content: center;
}

.grid-container-wishlist {
  display: grid;
  grid-template-columns: 8em 26em 12em;
  justify-content: center;
}

.grid-item.title {
  text-align: left;
}

.grid-item {
  border-bottom: 1px solid #ddd;
  padding: 8px 1em;
  white-space: nowrap;
  overflow: hidden;
}

.grid-item.header {
  font-weight: 600;
}
